.main{
    display: flex;
    height: 90%;
    width: 100%;
    background-image: url('https://rare-gallery.com/thumbs/1246860-blue-galaxy.jpg');
    position: fixed;
    background-size: cover;
    background-position: center;
    position: absolute;
    transform: translate(-50% -50%);
    z-index: -4;
}
.container{
    align-items: start;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 20px 30px;
}
.todosBox{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    background-color: rgb(65, 92, 151);
    border-radius: 20px;
    color: white;
    margin: 20px;
    box-shadow: 0px 0px 10px black;
    transition: 0.2s;
}
.todosBox:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 20px black;
}
.header{
    font-size: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'cambria';
}
.header span{
    font-weight: bold;
}
.input{
    padding: 10px 15px;
    margin: 5px;
}
.btn{
    display: flex;
    height: 60px;
    padding: 20px 50px;
    font-weight: bold;
    background-color: aliceblue;
    opacity: 0.7;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 40px;
    transition: 0.2s;
}
.btn:hover{
    background-color: rgb(103, 228, 95);
    transform: scale(1.1);
    box-shadow: 0px 0px 5px black;
}
.todolist{
    display: flex;
    padding: 10px 15px;
    margin-bottom: 5px;
    background-color: rgb(48, 71, 121);
    color: white;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    box-shadow: 0px 0px 5px black;
    transition: 0.2s;
    cursor: pointer;
}
.todolist:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 20px black;
}
.plus{
    display: flex;
    margin-right: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.inputbox{
    padding: 20px 30px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px black;
    margin-top: 40px;
}
.btnList{
    display: flex;
    height: 40px;
    padding: 20px 20px;
    font-weight: bold;
    margin: 5px;
    background-color: aliceblue;
    opacity: 0.7;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.btnList:hover{
    background-color: rgb(103, 228, 95);
    box-shadow: 0px 0px 10px black;
    transform: scale(1.06);
}
.btnCard{
    display: flex;
    height: 40px;
    padding: 20px 20px;
    font-weight: bold;
    margin: 5px;
    background-color: rgb(156, 197, 234);
    opacity: 0.7;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.btnCard:hover{
    background-color: rgb(103, 228, 95);
    box-shadow: 0px 0px 10px black;
    transform: scale(1.03);
}
.inputTitle{
    padding: 20px 30px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px black;
}
ul{
    padding: 0;
    display: flex;
    color: aliceblue;
    list-style: none;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
}
.cutIcon{
    display: flex;
    margin-right: 5px;
    text-align: center;
    justify-content: center;
    color: red;
    cursor: pointer; 
}
.cutIconBtn{
    font-size: 2px;
    color: red;
    background-color: rgb(78, 97, 139);;
    cursor: pointer;
}