.sidebar ul li a{
    margin: 0px 110px;
    text-decoration: none;
}
.sidebar ul li a:hover{
    background: #d4dce3;
    color: #1da1f2;
}
.sidebar{
    width: 25%;
    height: 100vh;
    border-right: 1px solid rgb(219, 219, 219);
}
.opt{
    margin-top: 20px;
    color: black;
}
.logo{
    color: #1da1f2;
    margin-top: 50px;
    font-size: 45px;
}
.opt:hover{
    background: #e8f5fe;
    color: #1da1f2;
}
.logo1{
    margin-right: 20px;
    font-size: 30px;
    align-items: center;
    text-align: center;
}
.btn{
    margin-top: 50px;
    margin-left: 80px;
    background-color: #1da1f2;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px black;
}

.name{
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'calibri';
}